.technologiesContainer {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 3fr));
	gap: 3dvh;
	padding: var(--pd-0);
	border-radius: var(--radius);
	width: 90%;
	max-width: var(--max-width);
	height: auto;
	margin: auto;
	margin-top: var(--pd-1);
	margin-bottom: var(--pd-0);
	background-color: rgb(255, 255, 255, 0.1);
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.tec {
	display: flex;
	flex-direction: row;
	padding-left: 22%;
	align-items: center;
	max-height: 100px;
	background-color: var(--box-color);
	border-radius: var(--radius-i);
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);

	& .tecLogo {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 40px;
		height: 40px;
		font-size: 28px;
		font-weight: 650;
	}
	& .tecLogo svg {
		width: 100%;
		height: auto;
	}
	& .tecText {
		margin: 2dvh;
	}
}
