.technologies {
	position: static;
	width: 60%;
	margin: auto;
	padding: 0px;
}

.container {
	position: static;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 3fr));
	gap: 5%;
	width: 100%;
}

.tec {
	position: relative;
	display: flex;
	flex-direction: row;
	padding-left: 20%;
	align-items: center;
	background-color: rgb(60, 60, 60, 0.3);
	border-radius: 5%;

	& .tecLogo {
		padding: 5px;
		transform: scale(1.8);
	}

	& .tecText {
		margin: 2dvh;
	}
}
