.card {
	width: 90%;
	max-width: 300px;
	height: auto;
	overflow: hidden;
	background-color: var(--box-color);
	border-radius: var(--radius-i);
	margin: var(--pd-0);
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.cardTop {
	width: 100%;
}
.cardTop img {
	border-radius: var(--radius-i);
	width: 100%;
}

.cardBottom {
	display: flex;
	gap: 2dvh;
	align-items: center;
	width: 100%;
	border-radius: var(--radius-i);
	height: 30%;
	padding: 8px;
	text-align: left;
	& h3 {
		font-weight: 450;
	}
}

.cardBottom img {
	width: 50px;
	height: 50px;

	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: var(--radius-i);
}
