.card {
	width: 350px;
	height: auto;
	overflow: hidden;

	font-size: 12px;
	color: black;
	position: relative;
	transition: all 0.2s ease;
	border-radius: 5px;
	margin: 5%;
	filter: brightness(0.8);
}

.card:hover {
	transform: scale(1.03);
	filter: brightness(1);
}

.cardDeploy {
	display: none;
	cursor: pointer;
	border: solid 2px black;
	margin: 5px;
}

.cardDeploy a svg {
	width: 50px;
	height: 50px;
	color: white;
}

.card:hover .cardDeploy {
	display: flex;
	position: absolute;
	z-index: 99;
	top: 37.5%;
	left: 50%;
	transform: translate(-50%, -50%);
	filter: brightness(1);
}

.cardTop {
	position: relative;
	width: 100%;
	height: 70%;
}

.cardTop img {
	width: 100%;
	height: 100%;
	transition: filter 0.2s ease;
	object-fit: cover;
	border-radius: 5px;
}

.card:hover .cardTop img,
.cardButton:hover ~ .cardTop img {
	filter: brightness(1);
}

.cardButton {
	display: flex;
	justify-content: start;
	align-items: center;
	height: 30%;
	padding: 12px;
	background-color: var(--bg-color);
}

.cardButton img {
	width: 50px;
	height: 50px;
	margin-right: 12px;
	display: flex;
	justify-content: center;
	align-items: center;
}
