.card {
	position: static;
	width: 80%px;
	height: auto;
	overflow: hidden;
	font-size: 12px;
	transition: all 0.2s ease;
	border-radius: 5px;
	margin: 5%;
	padding: 10px;
}

.cardTop {
	position: static;
	width: 100%;
	height: 70%;
}

.cardTop img {
	width: 100%;
	height: 100%;
	transition: filter 0.2s ease;
	object-fit: cover;
	border-radius: 5px;
}

.cardBottom {
	display: flex;
	justify-content: start;
	align-items: center;
	height: 30%;
	padding: 12px;
	background-color: var(--bg-color);
}

.cardBottom img {
	width: 50px;
	height: 50px;
	margin-right: 12px;
	display: flex;
	justify-content: center;
	align-items: center;
}
