.mainContainer {
	display: flex;
	flex-direction: column;
	padding: 0px;
	width: 99dvw;
}

.personalDescription {
	font-size: 150%;
	margin: 25dvh 0px 0px 5vw;
	height: 100dvh;

	display: flex;
	justify-content: center;
	align-items: center;
}

.projects {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100dvh;
}
/*@media (max-width: 768px) {
	.mainContainer {
		flex-direction: colum;
	}

	.lSide {
		width: 30%;
		padding: 0px;
	}
	.rSide {
		width: 100%;
		overflow-y: auto;
	}

	.list {
		margin: 0px;
		font-size: 1em;
	}

	}
}*/
