.mainContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 55%;
	height: auto;
	border: solid 2px black;
}

.head {
	display: flex;
	flex-direction: row;
	width: 100%;
	align-items: center;
	justify-content: center;
	padding: 0px;
}
.nameAndLinks {
	align-items: center;
	justify-content: center;
}
.links {
	display: flex;
	flex-direction: row;
	margin: 0px;
	justify-content: space-around;
}

.profilePic {
	max-width: 30%; /* Hacer que la imagen no exceda el ancho del contenedor */
	height: auto; /* Ajustar la altura proporcionalmente al ancho */
	border-radius: 100%; /* Usar 50% para obtener un círculo perfecto con border-radius */
	margin: 2% 0 2% 0; /* Simplificar el margen */

	/* Estilos adicionales si lo deseas */
	/*display: block;  Evitar espacio adicional debajo de la imagen */
	margin-left: 0px; /* Centrar la imagen horizontalmente */
	margin-right: 10%;
}
.name {
	padding: 0;
	font-weight: 100;
	font-size: 3em; /* Tamaño base del texto */
	margin-bottom: 2vh;
	margin-top: 0;
}

/* Estilos para pantallas pequeñas */
@media only screen and (max-width: 600px) {
	.name {
		font-size: 2em; /* Ajustar tamaño del texto para pantallas pequeñas */
	}
}

.division {
	margin-top: 5vh;
	width: 50vw;
	height: 0px;
	border: solid 1px #ffffff;
	border-radius: 3px;
}

.linkedinLogo {
	transition: 0.15s ease;
	margin: 0px 10px 0px 10px;
}

.linkedinLogo:hover {
	transform: scale(1.1);
	cursor: pointer;
}

.gitHubLogo {
	transition: 0.15s ease;
	margin: 3px 10px 0px 10px;
}

.gitHubLogo:hover {
	transform: scale(1.1);
	cursor: pointer;
}

.personalDescription {
	margin: 5vw;
}
