.nameAndLinks {
	width: 90%;
	min-height: 90dvh;
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 8dvh;

	& .links {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	& .links ul {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 5dvw;
	}

	& .links li {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 15%;
		height: 15%;
	}

	& .links svg {
		width: 90%;
		max-width: 65px;
		height: 90%;
		max-height: 65px;
	}
}

.name {
	align-items: center;
	justify-content: center;
	text-align: center;
	& h1 {
		font-size: var(--fs-h1);
	}
}
