.navBarContainer {
	position: relative;
	display: flex;
	width: 100vw;
	height: 10dvh;
	border-bottom: solid 2px black;
	align-items: center;
	padding: 5%;
	& button {
		background-color: rgba(0, 0, 0, 1);
	}
}

.navBarContainer nav {
	width: 90%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100%;
	margin: auto;

	& svg {
		height: 50px;
		width: 50px;
	}
}

.profilePic {
	width: 40px;
	height: 40px;

	& img {
		height: 100%;
		width: 100%;
		border-radius: 100%;
	}
}

.navbarLinks {
	opacity: 0;
}
.navbarLinks.active {
	position: absolute;
	opacity: 1;
	background-color: aqua;
	display: flex;
	width: 100%;
	min-height: 100dvh;
	justify-content: center;
	align-items: center;
	top: 0;
	left: 0;
}

.closeModalButton {
	position: relative;
	z-index: 99;
}
