.trackRecordContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: var(--radius);
	width: 90%;
	max-width: var(--max-width);
	height: auto;
	margin: auto;
	margin-top: var(--pd-1);
	margin-bottom: var(--pd-2);
	padding: var(--pd-0) 0px var(--pd-0) 0px;
	gap: 2dvh;
	background-color: rgb(255, 255, 255, 0.1);
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);

	& h3 {
		text-align: center;
	}
	& .theTop {
		display: flex;
		flex-direction: column;
		width: 90%;
		background-color: var(--box-color);
		border-radius: var(--radius-i);
		padding: var(--pd-0);
		align-items: center;
		justify-content: center;
		gap: 2dvh;
		text-align: left;
		box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
	}

	& .arrow {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 30px;
		width: 30px;
		ba & svg {
			height: auto;
		}
	}

	& .construction {
		display: flex;
		flex-direction: column;
		width: 90%;
		background-color: var(--box-color);
		border-radius: var(--radius-i);
		padding: var(--pd-0);
		align-items: center;
		justify-content: center;
		gap: 2dvh;
		text-align: left;
		box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
	}

	.certifications {
		height: 20%;
		div {
			border-radius: 50%;
		}
	}
}
