.aboutMeContainer {
	display: flex;
	flex-direction: column;
	width: 90%;
	max-width: var(--max-width);
	height: auto;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin: auto;
	margin-top: var(--pd-0);
	margin-bottom: var(--pd-2);
	padding: var(--pd-1) var(--pd-0);
	border-radius: var(--radius);
	gap: 5dvh;
	background-color: var(--box-color);
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);

	& .imageAndName {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 2dvh;
		height: auto;

		& .image {
			height: 200px;
			width: 200px;
			border-radius: 50%;
			overflow: hidden;
			& img {
				width: 100%;
				height: 100%;
			}
		}
	}
	& article {
		text-align: right;
	}

	& p {
		text-align: left;
		margin-bottom: var(--pd-0);
	}
	.certifications {
		display: flex;
		flex-direction: row;
		height: 75px;
		width: 100%;
		align-items: center;
		justify-content: space-evenly;
		margin: 0px;
		padding: 0px;
		div {
			border-radius: 50%;
			overflow: hidden;
			height: 75px;
			box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
			border: solid 2px rgb(255, 255, 255, 0.5);
			& img {
				height: 100%;
				width: 100%;
			}
		}
	}
}
